:root {
    --color-bg: #252a33;
    --color-text: #eee;
    --color-text-title: #8AB0AB;
    --color-text-path: rgb(178, 255, 169);
    --color-bar: 178, 255, 169;
    --color-background: #1a1e24;
    --theme: 'dark'
}

span.date{
    float: left;
    padding-left: 10px;
  }
  
span.place{
    float: right;
    padding-right: 10px;
}

body{
    padding: 0; 
    margin: 0;
    background: var(--color-background);
    width: 100%;
    min-height: 100vh;
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

h3{
    font-family: 'Rubik Mono One', sans-serif;
}
h4{
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0;
}

#container{
    max-height: 100%;
    overflow: auto;
    display: flex; /*added*/
    flex-direction: column; /*added*/
}

#bash p{
    margin-left: 3px;
}

#oldbash p{
    margin-left: 3px;
}

p{
    font-family: 'Ubuntu Mono';
    font-size: 20px;
    margin-left: 10px;
}

#blinker{
    -webkit-animation: cursor .8s infinite;
    animation: cursor .8s infinite;
}

@keyframes blinker{
    from {opacity: 0;}
    to {opacity: 0.9;}
}

#name{
    background-color: #f4df42;
    color: #333;
}

#name_term{
    color: var(--color-text-title);
}

#path_term{
    color: var(--color-text-path);
}

#bulb {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.dir {
    color: var(--color-text-path);
}

a {
    cursor: url(../img/pixel_cursor.png), auto;
}

.nopadding {
    padding-left: 0 !important;
    padding-right: 10 !important;
    margin: 0 !important;
    float: none;
 }

 .row {
  margin-right: 0px !important;  
  margin-left: 0px !important;
 }

 .colnopad {
    padding: 0 !important;
    margin: 0 !important;
 }

 .terminal-timeline{
     font-family: 'Ubuntu Mono'; 
     font-size: 16px
 }